body {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: darkorange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    color: darkslategray;
}