@charset "UTF-8";
    *{
        font-family: Arial, Helvetica, sans-serif;
        
    }

    body {
        background-image: linear-gradient(to right, #ED6324, #BB3722);
        height: 100%; /* altura */
    }

    main{
        background-color: white;
        border-radius: 20px; /*deixa a bora do background acima arredondada */
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.699) ;/* sombra do background acima - 1º para o lado,2º para baixo, 3º quanto ela vai espalhar e o 4º cor/transparencia */
        width: 600px; /* largura - caso não queira que o conteudo ocupe toda a largura da pagina */
        padding: 10px; /*deixa uma margem de fundo após o texto*/
        margin: auto; /* margim auto sempre centraliza indepentende do tamanho da tela */

    }
    h1 {
        color: #32448A ; /* cor do texto de H1 */
        text-align: center; /* Posição do texto, centralizado */
        text-shadow:1px 1px 2px  #182142b6 ;  /*sombra do texto - 1ª para o lado, 2º para baixo, 3º espalhamento e 4º cor/transparencia */
    }

    h2 {
        color:#00A4A8 ;

    }
    p{
        text-align: justify ; /* paragurafos com texto justificados */

    }